@page "/membros"


<PageTitle>Membros</PageTitle>

<h1>Membros</h1>



@if (membros == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="e=>OpenPoup()">Adicionar</MudButton>

    <MudDataGrid Items="@membros">
        <Columns>
            <PropertyColumn Property="x => x.ID" />
            <PropertyColumn Property="x => x.Nome" />
            <PropertyColumn Property="x => x.Telefone" />
            <PropertyColumn Property="x => x.Email" Title="E-mail"/>
            <PropertyColumn Property="x => x.CPF" />
            <PropertyColumn Property="x => x.DataDeNascimento" Title="Data de nascimento" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="e=>OpenPoup(context.Item)">Editar</MudButton>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="e=>OpenPoup(context.Item, true)">Remover</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>







   














}
